body { background-color:#00b4d8
     }

.nav-bar {
  background-color: #0077b6;
  padding: 15px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.nav-bar li a {
  color: #e0f7ff; /* Lavender Mist */
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 6px 10px;
  transition: 0.3s ease;
  border-radius: 6px;
}

h1 {color: #FFFFFF;}
.nav-bar li a:hover {
  background-color: #00b4d8; 
  color: white;
}

h4 {
  color: #0096c7; 
}

ul {
  list-style-type: square;
  padding-left: 40px;
}

li {
  background-color: #ade8f4; /* Soft tropical card blue */
  border-left: 6px solid #0077b6;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #90e0ef;
}
