body {background-color: #E9F7F7;}

.nav-bar {
  background-color:#3AB0A1;
  padding: 15px 0;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.nav-bar li a {
  color: #D6F0F0;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.nav-bar li a:hover {
background-color: #60C1B8;
  color: #0E4D58;
}

h1 {
  color: #0E4D58;
  text-align: center;
  margin-top: 25px;
}

p {
   max-width: 800px;
  margin: 0 auto 20px auto;
  line-height: 1.6;
}

h4 {
  color: #3AB0A1;
  margin-left: 30px;
}

.hardware-section,
.pros-section,
.cons-section {
  width: 80%;
  margin: 15px auto;
  padding: 15px 25px;
  background-color: #D6F0F0;
  border-left: 6px solid #3AB0A1;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.hardware-section li,
.pros-section li,
.cons-section li {
  padding: 8px 0;
  color: #0E4D58;
  line-height: 1.5;
}
